.post > ul{
    list-style-type: disc;
}
.post > ul > li{
  margin-top: -1rem;
}
.post > ol{
    list-style: decimal;
}
.post > * > a {
  text-decoration: underline;
  color: #fef303;
}
.post > pre{
  @apply bg-slate-600 w-full px-6 rounded-lg py-2
}