.post > ul{
    list-style-type: disc;
}
/* .post > ul > li{
  margin-top: -1rem;
} */
.post > ol{
    list-style: decimal;
}
.post > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}
.post > iframe{
  margin-left: auto;
  margin-right: auto;
}
.post > * > a {
  text-decoration: underline;
  color: #FF4B4B;
}

.post > pre{
  @apply bg-code-bg w-full px-6 rounded-lg py-2 backdrop-blur-md
}
.post >*> code{
  @apply bg-glass-card w-full px-1 rounded-lg py-1 backdrop-blur-md

}